Covid-news page

<body>

    <input type"text" id="covid-news">
    <button id="get-news-button">get COVID news</button>
    <h3 id="Covid News"></h3>
    <img id="news" alt="" srcset="">

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src "api.js"></script>

</body>