
    <div class="container"> 
        <div class="left-section">

        </div>
        <div class="center-section">
            
            <input type"text" id="news-article" hidden>
            <button id="get-news-button">get COVID news</button>
            
            <div class="news">
                {{!-- <h3 id="article-name-h3"> {{$title}} </h3>

                <a href="" id="link">
                    <button>Click to read</button>
                </a> --}}
            </div>
        
            {{!-- <img id="news-image" alt="" href={{$image}}> </img> --}}

            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script src="/js/api.js"></script>

        </div>
        <div class="right-section">

        </div>
    </div>