<div class="container">
    <div class="left-section">

    </div>
    <div class="center-section margins">
        <h1 valign="center">COVID CENTRAL</h1>
        <img src="/images/Covid.jpg">
    </div>
    <div class="right-section">

    </div>
</div>