Infections page

<body>
    <li>
        <input type"text" id="news-article">
        <button id="get-news-button">get INFECTIONS news</button>
        <h3 id="Infections News"></h3>
        <img id="news-image" alt="" srcset="">

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/js/api.js"></script>
    </li>
</body>