<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>COVID NEWS ONLINE</title>
</head>

<body>
    <nav>
        <ul>
            <li><a href="/news">COVID NEWS ONLINE </a></li>
            <li><a href="/signup"> Sign Up </a></li>
            <li><a href="/"> Login </a></li>
            <li><a href="/infections"> Infections </a></li>
            <li><a href="/vacc-info"> Vaccines </a></li>
            <li><a href="/support"> Support </a></li>
        </ul>
    </nav>

    <main>
        {{{body}}}
    </main>
</body>

</html>