<div class="container">
    <div class="left-section">

    </div>
    <div class="center-section">
        {{#each this}}
            {{title}}
            {{url}}
            {{summary}}
        {{/each}}
    </div>
    <div class="right-section">

    </div>
</div>