<h1> Welcome to your Account! </h1>

<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <form action="/posts/new" method="post">
      <legend>New Post</legend>
      <br>
      <div class="form-group">
        <label for="post-title">Title</label>
        <br>
        <input type="text" name="title" class="form-control" id="post-title" placeholder="Title">
      </div>
      <br>
      <div class="form-group">
        <label for="post-url">Url</label>
        <br>
        <input type="url" name="url" class="form-control" id="post-url" placeholder="https://www.google.com">
      </div>
      <br>
      <div class="form-group">
        <label for="post-summary">Summary</label>
        <br>
        <textarea name="summary" class="form-control" id="post-summary" placeholder="Summary"></textarea>
      </div>
      <br>
      <div class='text-right'>
        <button type="submit" class="btn btn-primary">Create Post</button>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
    </form>
  </div>
</div>