<div class="container">

  <div class="left-section">

  </div>
  <div class="center-section">

    <h1 style="text-align: center;"> Welcome to your Account! </h1>

    <div class="profile-container">

      <h3 style="text-align: center; margin-bottom:50px">Make a Post</h3>

      <form action="/post" method="POST">
        <label>
          <span class="text">Title:</span>
        </label>
        <input type="text" name="title" style="margin: 0px 50px 25px 0px;">
        <label>
          <span class="text">Links:</span>
        </label>
        <input type="text" name="url">
        <br>
        <label>
          <span class="text" style="margin-top:50px;">What is on your mind?</span>
        </label>
        <br>
        <textarea name="summary" rows="6" cols="50"></textarea>
        <br>
        <button>Submit Post</button>
      </form>
      {{message}}

    </div>

  </div>
  <div class="right-section">

  </div>
</div>