Post

<form action="/create-post" method="POST">

    <label>Post Title</label>
    <input type="text" name="postName">

    <label>Post url</label>
    <input type="text" name="postUrl">

    <button>Save</button>

</form>