<div class="container">
    <div class="left-section">
        hello
    </div>
    <div class="center-section">
        <h1 class="h1-Vacc-Info">FDA Approved Vaccines</h1>
        
            <ul>
                <li>
                    {{developerResearch}}
                </li>
            </ul>
      
    </div>
    <div class="right-section">
        world
    </div>
</div>>
