body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: grey;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(25, 69, 69);
}

nav a {
  text-decoration: none;
  color: black;
}

.logo {
  width: 150px;
  margin-right: 1rem;
}

.container{
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}